__pycache__/
*.pyc

outputs/
logs/
runs/

.ipynb_checkpoints/

.DS_Store

venv/
fish-bone/

*.pt
*.pth
manuscript/
outputs_dataset_statistics/
outputs_nested_cv_bce_dice/
Missing_Structures/
analysis/
paper_results/
output_cv_bce_dice/
output_cv_focal/
outputs*/
ventral/
ventral.zip
outputs/
*.pt
*.pth
*.zip
*.tex
*.png
*.tif
image_comparison_results/
datasets/v2/
engine/v2/
new_outputs_311/